.somosContainer{
    height: 100vh;
    width: 100%;
    padding: 5% 12% 5% 12%;
    background-color: white;
    
    .somosContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            margin-bottom: 3%;
            color: #FA9373;
            font-weight: bold;
            font-size: x-large;
        }
        .textSomos{
            width: 100%;
            text-align: center;
            font-size: large;
            p{
                color:#014E54;
                
            }
        }
        h4{
            margin:3% 0 3% 0;
            font-weight: bold;
        }
        .keywordsSomosContainer{
            width: 100%;
            height: 30%;
         
            .keyContainer{
                height: 100%;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                span{
                    color:white;
                    font-weight: bold;
                    background-color: #FA9373;
                    margin:0.5% 1%;
                    padding: 0 25px;
                    border-radius: 5px;
                    text-align: center;
                    cursor: default;
                }
            }
            
        }
    }
}


@media only screen and (min-width:0px) and (max-width:768px){
    .somosContainer{
        padding: 0 0 5% 0;
        padding-top: 80px;
        height: 120vh;
        .keywordsSomosContainer{
           
            .keyContainer{
                
                span{
                 font-size: small;
                }
            }
            
        }
    }
   }
//algunas mac
@media only screen and (min-width:769px) and (max-width:1023px){
   
}