.somosContainer{
    height: 90vh;
    width: 100%;
    padding: 5% 12% 5% 12%;
    background-color: white;
    .somosContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            margin-bottom: 3%;
            color: lightsalmon;
            font-weight: bold;
            font-size: x-large;
        }
        .textSomos{
            width: 100%;
            text-align: center;
            font-size: large;
            p{
                color:rgb(59, 97, 90);
                
            }
        }
        .brandSomos{
            width: 100%;
            height: 33%;
            background-color: red;
        }
        h4{
            margin:3% 0 3% 0;
            font-weight: bold;
        }
        .keywordsSomosContainer{
            height: 40%;
            text-align: justify;
            p{
                padding-top: 3%;
                width:100%;
                height: 100%;
                font-weight: bold;
                color: white;
                font-size: large;
                text-align: center;
                span{
                    background-color: lightsalmon;
                    margin: 2% 1%;
                    padding: 0 25px;
                    border-radius: 5px;
                    text-align: center;
                    cursor: default;
                }
            }
        }
    }
}


@media only screen and (min-width:0px) and (max-width:768px){
    .somosContainer{
        padding: 5%;
        padding-top: 80px;
        height: 100vh;
    }
   }
//algunas mac
@media only screen and (min-width:769px) and (max-width:1023px){
   
}