.sliderContainer{
    width:100%;
    height: auto;
    .sliderContent{
        width: 100%;
        .sliderConjuntoItems{
            padding: 0 10% 0 10%;
            display: flex;
            justify-content: space-around;
            
            p{
                font-size: x-large;
                
                padding: 5px 2% 5px 2%;
               margin-top: 1.5%;
               color: lightsalmon;
                &:hover{
                    background-color: rgb(13, 51, 46);
                    border-radius: 5px;
                    color: white;
                    cursor: default;
                }
            }
         
        }
    }
    button{
        .bgSpan{
            background-color: black;
            border-radius: 100px;
            padding: 5px;
        }
    }
}