.hacemosContainer{
    height: 100vh;
    width: 100%;
    background-color: #014E54;
    display: flex;
    padding: 7% 15% 5% 20%;
    overflow: hidden;
    .hacemosInputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 12%;
        .inputsContainer{
            position: relative;
            border-radius: 100px;
            width: 100%;
            height: 100%;
            input[type=radio]{
                display:none;
            }
            input[type=radio] + label{
                    background-image: url("../../../assets/hacemosInactivo.png");
                    background-size: cover;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    color:white;
                    p{
                        display: none;
                    }
                }
                input[type=radio]:checked + label{
                    background-image: url("../../../assets/hacemosActivo.png");
                    background-size: cover;
                    p{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        position: absolute;
                        right:120%;
                        cursor: default;
                        font-weight: bold;
                        

                    }
                }

                input[type=radio]:hover + label{
                    background-image: url("../../../assets/hacemosActivo.png");
                    background-size: cover;
                    p{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        position: absolute;
                        right:120%;
                        cursor: default;
                        font-weight: bold;

                    }
                   
                    

                }
               
            

            }
            
            
        }
        .hacemosContent{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 88%;
            padding: 15% 0 0 7%;
            h3{
                color: #FA9373;
                font-weight: bold;
            }
            h2{
                color: white;
            }
            p{
                color: white;
                font-size: large;
            }
            label{
                position: absolute;
                top:0;
            }
           
        }
    }


@media only screen and (min-width:0px) and (max-width:768px){
    .hacemosContainer{
        height: 100vh;
        padding: 0;
        padding-top: 80px;
        flex-direction: column;
        .hacemosInputs{
            flex-direction: row;
            width: 100%;
            height: 20%;
            .inputsContainer{
                height: 100%;
                display: flex;
                justify-content: space-around;
                input[type=radio] + label{
                    background-image: url("../../../assets/hacemosInactivo.png");
                    background-size: cover;
                    height: 60px;
                    width: 60px;
                    #textInput0 , #textInput1, #textInput2, #textInput3{
                        top:20px;
                        left: 10px;
                    }
                    #textInput4{
                        position: absolute;
                        top: 20px;
                        right: 5px;
                    }
                }
            }
        }
        .hacemosContent{
            height: 90%;
            width: 100%;
            padding: 0% 5% 0 5%;
            text-align: justify;
            h3{
                font-weight: bold;
                font-size: large;
            }
            h2{
                font-size: x-large;
                margin: 3% 0 8% 0;
            }
            p{
                font-size: 15px;
            }
            .keywords{
                margin:10% 0 0 0;
                font-style: italic;
            }
            label{
                display: none;
            }
           
        }
    }
   }

@media only screen and (min-width:1024px) and (max-width:1439px){
    .hacemosContainer{
        .hacemosInputs{
            width: 25%;
        }
    }
}
@media only screen and (min-width:1439px) and (max-width:1450px){
    .hacemosContainer{
        .hacemosInputs{
            width: 15%;
        }
    }
}

