.hacemosContainer{
    height: 100vh;
    width: 100%;
    background-color: #014E54;
    display: flex;
    padding: 4% 15% 2% 20%;
    overflow: hidden;
    background-image: url("../../../assets/conFondoOscuro.png");
    background-size: cover;
    .hacemosInputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 12%;
        height: 100%;
        .inputsContainer{
            position: relative;
            border-radius: 100px;
            width: 15vh;
            height: 15vh;
            
            input[type=radio]{
                display:none;
            }
           
            #labelInput0{
                background-image: url("../../../assets/investigacionInactivo.png");
                &:hover{
                    background-image: url("../../../assets/investigacionActivo.png");
                    width: 18vh;
                    height: 18vh;
                }
            }
            #serviceInput0:checked + label{
                background-image: url("../../../assets/investigacionActivo.png");
                width: 18vh;
                height: 18vh;
            }
            #labelInput1{
                background-image: url("../../../assets/brandingInactivo.png");
                &:hover{
                    background-image: url("../../../assets/brandingActivo.png");
                    width: 18vh;
                    height: 18vh;
                   
                }
            }
            #serviceInput1:checked + label{
                background-image: url("../../../assets/brandingActivo.png");
                width: 18vh;
                height: 18vh;
            }
            #labelInput2{
                background-image: url("../../../assets/comunicacionInactivo.png");
                &:hover{
                    background-image: url("../../../assets/comunicacionActivo.png");
                    width: 18vh;
                    height: 18vh;
                   
                }
            }
            #serviceInput2:checked + label{
                background-image: url("../../../assets/comunicacionActivo.png");
                width: 18vh;
                height: 18vh;
            }
            #labelInput3{
                background-image: url("../../../assets/innovacionInactivo.png");
                &:hover{
                    background-image: url("../../../assets/innovacionActivo.png");
                    width: 18vh;
                    height: 18vh;
                   
                }
            }
            #serviceInput3:checked + label{
                background-image: url("../../../assets/innovacionActivo.png");
                width: 18vh;
                height: 18vh;
            }
            #labelInput4{
                background-image: url("../../../assets/transformacionInactivo.png");
                &:hover{
                    background-image: url("../../../assets/transformacionActivo.png");
                    width: 18vh;
                    height: 18vh;
                   
                }
            }
            #serviceInput4:checked + label{
                background-image: url("../../../assets/transformacionActivo.png");
                width: 18vh;
                height: 18vh;
            }
            input[type=radio] + label{
                    background-size: cover;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    color:white;
                   
                    p{
                        display: none;
                    }
                }
                input[type=radio]:checked + label{
                    background-size: cover;
                    p{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        position: absolute;
                        right:120%;
                        cursor: default;
                        font-weight: bold;
                        font-size: x-large;
                        

                    }
                }

                input[type=radio]:hover + label{
                    background-size: cover;
                    p{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        position: absolute;
                        right:120%;
                        cursor: default;
                        font-weight: bold;
                        font-size: x-large;

                    }
                   
                    

                }
               
            

            }
            
            
        }
        .hacemosContent{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 70%;
            padding: 15% 0 0 12%;
            h3{
                color: #FA9373;
                font-weight: bold;
            }
            h2{
                color: white;
            }
            p{
                color: white;
                font-size: large;
                margin-top: 5%;
                width: 100%;
            }
            label{
                position: absolute;
                top:0;
            }
           
        }
    }


@media only screen and (min-width:0px) and (max-width:768px){
    .hacemosContainer{
        height: 100vh;
        padding: 0;
        padding-top: 80px;
        flex-direction: column;
        background-image: none;
        .hacemosInputs{
            flex-direction: row;
            width: 100%;
            height: 20%;
            .inputsContainer{
                height: 100%;
                display: flex;
                justify-content: space-around;
                width: 10vh;
                height: 10vh;
                #labelInput0{
                    &:hover{
                        width: 8vh;
                        height: 8vh;
                    }
                }
                #serviceInput0:checked + label{
                    width: 8vh;
                    height: 8vh;
                }
                #labelInput1{
                    &:hover{
                        width: 8vh;
                        height: 8vh;
                       
                    }
                }
                #serviceInput1:checked + label{
                    width: 8vh;
                    height: 8vh;
                }
                #labelInput2{
                    &:hover{
                        width: 8vh;
                        height: 8vh;
                       
                    }
                }
                #serviceInput2:checked + label{
                    width: 8vh;
                    height: 8vh;
                }
                #labelInput3{
                    &:hover{
                        width: 8vh;
                        height: 8vh;
                       
                    }
                }
                #serviceInput3:checked + label{
                    width: 8vh;
                    height: 8vh;
                }
                #labelInput4{
                    &:hover{
                        width: 8vh;
                        height: 8vh;
                       
                    }
                }
                #serviceInput4:checked + label{
                    width: 8vh;
                    height: 8vh;
                }
                input[type=radio] + label{
                    background-size: cover;
                    height: 60px;
                    width: 60px;
                    #textInput0 , #textInput1, #textInput2, #textInput3{
                        font-size: large;
                        top:7vh;
                        left: 10px;
                    }
                    #textInput4{
                        position: absolute;
                        font-size: large;
                        top: 7vh;
                        right: 5px;
                    }
                }
            }
        }
        .hacemosContent{
            height: 90%;
            width: 100%;
            padding: 0% 5% 0 5%;
            text-align: justify;
            h3{
                font-weight: bold;
                font-size: large;
            }
            h2{
                font-size: x-large;
                margin: 3% 0 8% 0;
                text-align: left;
            }
            p{
                font-size: 15px;
            }
            .keywords{
                margin:10% 0 0 0;
                font-style: italic;
            }
            label{
                display: none;
            }
           
        }
    }
   }

@media only screen and (min-width:1024px) and (max-width:1439px){
    .hacemosContainer{
        .hacemosInputs{
            width: 25%;
        }
    }
}
@media only screen and (min-width:1439px) and (max-width:1450px){
    .hacemosContainer{
        .hacemosInputs{
            width: 15%;
        }
    }
}

