.headerContainer{
    width: 100%;
    display: flex;
    font-weight: bold;
    position: fixed;
    z-index: 50;
    .headerSite{
        display: flex;
        width: 50%;
    }
    .logoSite{
        margin: 0 0 0 10%;
    }
    
}
//mobile
@media only screen and (min-width:0px) and (max-width:768px){
    .headerContainer{
       
        .headerSite{
            width: 100%;
            display: flex;
            justify-content: space-between;
            button{
                background-color: rgb(197, 221, 218);
                height: min-content;
            }
        }
        .logoSite{
            margin:0;
           
        }
    }
}
//algunas mac
@media only screen and (min-width:769px) and (max-width:1023px){
    .headerContainer{
        .headerSite{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .logoSite{
            margin:0;
        }
    }
}
