

.contactoContainer{
   background-image: url("../../../assets/conFondoClaro.png");
   background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
        h2{
            font-style: normal;
            font-weight: 700;
            color:#FA9373;
            font-size: 2rem;
        }
    
}

.contacto{
  margin-left: 4vw;
  margin-top: -2vh;
}


.telefono{
  position:absolute;
  z-index: 0;
  width: 57vh;
  height: 57vh;
  margin-top: 25vh;
  transform: translateX(-40vw);
}

.carousel .carousel-indicators li {
  margin-left: 1vw;
    width: 10px;
   height: 10px;
   z-index: 100;
   border-radius: 100%;
   background-color: #014E54;
   transform: translateX(-8vw);
 }
 
 .carousel-inner{
    overflow: hidden;
    height: 30vh;
    width: 20vw;
   
    display: flex;
    align-items: center;

    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 112%;
        color: #014E54;
   
    }
    
 }

 .formContainer{

 }
 .form{
  position: relative;
  width: 37vw;
 
  display: flex;
  justify-content: center;
  height: max-content;
  flex-direction: column;

  label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 112%;
    height: 3vh;
    margin-top: 3vh;
    color: #014E54;
  }
  span{
    font-style: normal;
    color:#FA9373;
  }
  select {
    width: 100%;
   
    border: none;
    border-radius: 4px;
    background-color:transparent;

  }
  input[type=text] {
    height: 3vh;
    background-color: transparent;
    border-style: none none solid none;
  }

  button{
    display: flex;
    justify-content: center;
    align-items:center;
  
    background-color: #FA9373;
    border: none;
    color: #F3F3F3;
    padding: 16px 32px;
    text-decoration: none;
    width: 45%;
    height: 1vh;
    border-radius: 12px;
    margin: 4px 2px;
    cursor: pointer;
    p{
      color: white;
      transform: translateY(6px);
    
    }
  }


}

.btn-close{
  background-color:#014E54;
}




 @media only screen and (min-width:0px) and (max-width:768px){
  .contactoContainer{
    flex-direction: column;
    align-items: flex-start;
    height: 110vh;
    padding:45px 0 10% 5%;
    background-image: none;

  }
  .telefono{
    position:absolute;
    z-index: 0;
    width: 22vh;
    height: 22vh;
    margin-top: -43vh;
    left: 40vw;
    transform: matrix(-0.61, 0.79, 0.79, 0.61, 0, 0);
  }

  .carousel-inner{
    width: 80vw;
  }
  .form{
    width: 90vw;
  }
  .formContainer input{
    width: 85vw;
  }

}

@media only screen and (min-width:769px) and (max-width:1023px){

}