.creamosContainer{
    height: 100vh;
    width: 100%;
    padding: 5% 2% 5% 15%;
    background-color: #014E54;
    position: relative;
    background-image: url("../../../assets/conFondoOscuro.png");
    background-size: cover;
    img{
        
        position: absolute;
    }
    .brujula{
        width: 35vh;
        height: 35vh;
        right: 4vh;
        top: 12%;
    }
    .telescopio{
        width: 50vh;
        height: 50vh;
        bottom: 0;
        left: 2vh;
    }
    .creamosContent{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .creamosHeaders{
            width: 37%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                color: lightsalmon;
                font-weight: bold;
                font-size: x-large;
                margin-bottom: 8%;
            }
            h2{
                font-size: 47px;
                width: 100%;
                color: white;
                z-index:4;
            }
        }
        .creamosTexts{
            height: 100%;
            width: 60%;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 0 0 5%;
            
            p{
                width:70%;
                color: white;
                
            }
        }
    }
}

@media only screen and (min-width:0px) and (max-width:768px){
   .creamosContainer{
    height: 110vh;
    padding:45px 0 10% 5%;
    background-image: none;
    .telescopio{
        display: none;
    }
    .brujula{
        width: 15vh;
        height: 15vh;
        top:1vh;
        right: 2vh;
    }
    .creamosContent{
        flex-direction: column;
        align-items: flex-start;
        .creamosHeaders{
            width: 100%;
            height: 30%;
            // align-items: center;
            // text-align: center;
            h2{
                font-size: x-large;
                width: 65%;
            }
            h3{
                margin-bottom: 10%;
            }
           
        }
        .creamosTexts{
            height: 70%;
            width: 100%;
            font-size: small;
            justify-content: flex-start;
            padding: 5% 0 0 0;
            p{
                margin-bottom: 10%;
                width: 90%;
                font-size: medium;
                
            }
        }
    }
   }
}
//algunas mac
@media only screen and (min-width:1024px) and (max-width:1440px){
  .creamosContainer{
    padding: 5% 2% 5% 10%;
    .brujula{
        right: 1vh;
    }
    .creamosContent{
        .creamosHeaders{
            width: 45%;
            h2{
                font-size: 40px;
            }
        }
        .creamosTexts{
            width: 90%;
        }
    }
  }
}
