.navbarContainer{
    width: 55%;
    display: flex;
    font-size: 20px;
    .navListContainer{
        width: 100%;
        padding: 0 10% 0 10%;
        display: flex;
        justify-content: space-evenly;
    }
    
    
}

//mobile
@media only screen and (min-width:0px) and (max-width:768px){
    .navbarContainer{
        .navListContainer{
            align-items: flex-start;
            height: 30vh;
        }
    }
}
//algunas mac
@media only screen and (min-width:769px) and (max-width:1023px){
   
}


